<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="addForm" (ngSubmit)="guardarUsuario()">
    <div class="form-group">
      <label for="correo">Correos</label>
      <select name="correo" id="correo" class="custom-select">
        <option [ngValue]="correo.id" *ngFor="let correo of correos">{{correo.correo}}</option>
      </select>

    </div>

    <div class="form-group">
      <label for="grupo">Grupo</label>
      <select name="grupo" id="grupo" class="custom-select">
        <option [ngValue]="grupo.id" *ngFor="let grupo of grupos">{{grupo.grupo}}</option>
      </select>
    </div>
    <button class="btn btn-success">Guardar</button>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
