<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Asignaciones
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <p-table [value]="empleados" [paginator]="true" [rows]="10">
              <ng-template pTemplate="header">
                <tr>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Telefono</th>
                  <th>Puesto</th>
                  <th>Tipo de Empleado</th>
                  <th>Asignar</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-empleado>
                <tr >
                  <td>{{empleado.nombre+" "+empleado.apellido_paterno}}</td>
                  <td>{{empleado.email}}</td>
                  <td>{{empleado.telefono_movil}}</td>
                  <td>{{empleado.puesto}}</td>
                  <td>{{empleado.tipo_usuario}}</td>
                  <td *ngIf="empleado.id_tipo == 2">
                    <button class="btn btn-sm btn-primary">Asignar Ejecutivo</button>
                  </td>
                  <td *ngIf="empleado.id_tipo == 1" (click)="openModal()">
                    <button class="btn btn-sm btn-primary">Asignar Administrativo</button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
